<MudThemeProvider Theme="defaultTheme" />
<MudDialogProvider FullWidth="true"
                   DisableBackdropClick="true"
                   CloseButton="true"
                   Position="DialogPosition.Center" />
<MudSnackbarProvider />
<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    static string colorDefault = "#008A91";
    MudTheme defaultTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = colorDefault,
            Black = "#272c34",
            AppbarBackground = colorDefault,
            AppbarText = "#fff",
        }
    };
}